<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div *ngIf="book">
      <h2>{{ book.title | uppercase }} Details</h2>
      <div><span>id: </span>{{ book.id }}</div>
      <div>
        <label for="hero-name">Book name: </label>
        <input id="hero-name" [(ngModel)]="book.title" placeholder="name" />
      </div>
    </div>
  </body>
</html>
