<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container" *ngFor="let book of books">
      <h2>Details Of {{ book.title | uppercase }}</h2>
      <div class="item">
        <label for="book-id">Book name: </label>
        <input id="book-id" [(ngModel)]="book.id" placeholder="name" />
      </div>

      <div class="item">
        <label for="book-name">Book name: </label>
        <input id="book-name" [(ngModel)]="book.title" placeholder="name" />
      </div>
      <div class="item">
        <button type="button" (click)="goBack()">Go back</button>
        <button type="button" (click)="save(book)">Save</button>
        <button type="button" (click)="delete()" value="">Delete</button>
      </div>
    </div>
  </body>
</html>
