<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="item">
        <label for="new-book">Book Title: </label>
        <input id="new-book" #BookTitle />

        <!-- (click) passes input value to add() and then clears the input -->
        <button
          type="button"
          class="add-button"
          (click)="addBooks(BookTitle.value); BookTitle.value = ''"
        >
          Add Book
        </button>
      </div>
      <!-- <ul>
  <li *ngIf="allBook">{{ allBook.data | json }}</li>
</ul> -->
      <div class="item">
        <ul class="books">
          <li *ngFor="let book of allBook">
            <a routerLink="/details/{{ book.id }}">
              <button type="button">
                <span class="badge">{{ book.id }}</span>
                <span class="name">{{ book.title | uppercase }}</span>
              </button>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
