.container {
  position: static;
  align-content: center;
}

.books {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.books li {
  position: relative;
  cursor: pointer;
}

.books li:hover {
  left: 0.1em;
}

.books button {
  flex: 1;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #eee;
  margin: 0.5em;
  padding: 0;
  border-radius: 10px;
  display: flex;
  align-items: stretch;
  height: 3em;
  width: 100%;
}

.books button:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: 0.1em;
}

.books button:active {
  background-color: #525252;
  color: #fafafa;
}

.books button.selected {
  background-color: black;
  color: white;
}

.books button.selected:hover {
  background-color: #3b2929;
  color: white;
}

.books button.selected:active {
  background-color: black;
  color: rgb(255, 255, 255);
}

.books .badge {
  display: inline;
  font-size: medium;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  margin-right: 0.8em;
  border-radius: 1px 0 0 4px;
  width: 20%;
}

.books .name {
  align-self: center;
  font-size: large;
}
.books a {
  color: #333;
  text-decoration: none;
  /* background-color: #eee; */
  /* margin: 0.5em;
  padding: 0.3em 0;
  height: 1.6em; */
  border-radius: 1px;
  /* display: flexbox; */
  width: 100%;
}

.books a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.books a:active {
  background-color: #525252;
  color: #fafafa;
}
