<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>{{ title }}</h1>
    <div class="main-menu-container">
      <nav class="main-menu">
        <a routerLink="/login">Login</a>
        <a routerLink="/register">Register</a>
        <a routerLink="/books">View All Books</a>
        <a routerLink="/dashboard">Dash Board</a>
      </nav>
    </div>
    <router-outlet></router-outlet>
  </body>
</html>
